body {
    @apply text-[#6A6766];
    overflow-x: hidden;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

ul, p, :is(h1, h2, h3, h4, h5, h6) {
    @apply p-4 text-center sm:text-left;
}

p > img {
    @apply w-[50vw] sm:w-[15vw] float-left mr-8;
}

[class$="__container"] {
    @apply container mx-auto;
}
[class$="__grid"] {
    @apply grid grid-cols-12;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.1;
    }
}