.chat {
    // The main chat container acts as a grid for message alignment and provides overall padding.
    @apply grid grid-cols-12 gap-y-4 p-4;

    &-input {
        @apply grid grid-cols-12 gap-2 mb-4;

        .prompt-wrapper {
            @apply col-span-full flex items-center relative;
           // @extend .btn--outline; // Use @extend to inherit styles safely
            @apply border-1 border-solid border-gray-300  hover:border-gray-400;
            @apply p-4 rounded-xl shadow-sm; // Reset padding from .btn--outline
        }

        #user-input {
            @apply flex-grow p-2 focus:outline-none bg-transparent;
            min-height: 40px;
        }

        .prompt-btn {
            @apply text-gray-500 hover:text-blue-500 px-3;
        }
    }

    .message {
    
        @apply p-3 rounded-xl max-w-[85%] break-words shadow-md p-8;


        &-ai {
            @apply  text-gray-800 col-span-9 p-8 rounded-xl rounded-tl-xs;
            img {
                float: left;
            }
            span {
                @apply animate-pulse;
            }
        }

        &-user {
            @apply bg-[#cccccc6b] col-span-9 col-start-4 rounded-xl rounded-tr-xs p-8 text-gray-800;
        }

        p {
            @apply p-0 m-0;
        }
        ul {
            @apply p-0 m-0 list-disc pl-5; 
        }
        li {
            @apply mb-1;
        }
    }
}